body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*---------------Login---------------*/

.container {
    display: flex;
    height: 100vh;
}

/*control de estilos parte izquierda*/
#izq {
    flex: 1;
    background-color: #ff6d1f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#izq img {
   width: 550px;
}
/*control de estilos parte izquierda*/

#der {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 300px;
    text-align: center; /*centra el contenido*/
}

.formulario img {
    width: 200px;
}

.formulario h2 {
    margin: 0;
    color: #000000;
}

.formulario .camposInput {
    width: 92%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.formulario .camposError {
    width: 92%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #de514e;
    border-radius: 5px;
}

.checkPer {
   display: flex; 
   flex: content;
   justify-content: flex-start; 
   margin-top: 10px;
   font-size: 11pt;
}

.checkPer label {
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 1;
    color: #000000;
}

.checkPer input{
   display: inline; 
   margin-right: 5px;
   vertical-align: middle;
}

.claseError {
   display: none;
   margin: 0px;
   font-size: 10pt;
   text-align: start;
   color: #de514e;
}

#ingresarLogin {
    margin-top: 10px;
    width: 100%;
}

#extra {
   margin-top: 15px;
   font-size: 15px;
}
/*---------------Fin Login---------------*/

/*---------------Hedear---------------*/
/*----------Seccion Superior----------*/

#logoHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerClass {
    display: flex;
    flex-direction: column;
    background-color: #F89E59;
}

.barraBusqueda {
    background-color: #FF6D1F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 1px solid #9E6622;
}

.barraBusqueda a{
    text-decoration: none;
}

#botonesHead {
    display: flex;
    justify-content: center;
    padding: 0 30px;
}

#ingresarHead {
    display: flex;
    align-items: flex-end; 
    border: 2px solid #F89E59; 
    width: 120px;
    justify-content: space-between;
}

#buscador {
    flex: auto; 
    min-width: 1000px;
    width: 60vw;
    margin: 0 20px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #ddd;
}

#carrito {
    margin: 10px;
    width: 60px;
}

#emercado {
    width: 115px;
}
/*----------FIN Seccion Superior----------*/

/*----------Seccion Inferior----------*/
.barraNavegacion {
    display: flex;
    flex-wrap: wrap;
}

.barraNavegacion ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    justify-content: left;
    padding-left: 10px;
    column-gap: 14px;
    margin: 8px;
}

.barraNavegacion li a {
    list-style-type: none;
    color: #ffff;
    text-decoration: none;
}
/*----------FIN Header----------*/

/*----------Comienzo Products.html----------*/

.mainProducts {
    display: flex;
    height: 86vh;
}

#filtros {
    padding: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
}

#contenedorItem {
    flex-grow: 1;
}

/*----------Fin Products.html----------*/