@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media (min-width: 769px) {
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*---------------Login---------------*/
.container {
    display: flex;
    height: 100vh;
}

#menuBarras {
    display: none
}

#botonesCel {
    display: none;
}

/*control de estilos parte izquierda*/
#izq {   
    flex: 1;
    background-color: var(--naranja-intenso);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#izq img {
   width: 90%;
   max-width: 35rem;
   height: auto;
}
/*control de estilos parte derecha*/

#der {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 55%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    text-align: center;
}

.formulario img {
    width: 70%;
    max-width: 12rem;
    height: auto;
}

.formulario h2 {
    font-size: clamp(5px, 2.2vw, 20px);
    margin: 0;
    color: var(--texto-colorPrincipal);
}

.formulario .camposInput {
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    border: 2px solid var(--camposInput-gris);
    border-radius: 5px;
}

.formulario .camposError {
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    border: 2px solid var(--camposInput-error);
    border-radius: 5px;
}

.claseError {
   display: none;
   margin: 0.5rem 0;
   font-size: 1rem;
   text-align: start;
   color: var(--camposInput-error);
}

#ingresarLogin {
    margin-top: 10px;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
}

#extra {
   margin-top: 15px;
   font-size: clamp(5px, 2vw, 16px);
}
/*---------------Fin Login---------------*/

/*---------------Hedear---------------*/
/*----------Seccion Superior----------*/
.headerClass {
    display: flex;
    flex-direction: column;
    background-color: var(--naranja-suave);
}

.barraBusqueda {
    background: var(--gradiente-primario);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    min-height: 70px;
}

#logoHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#emercado {
    width: 115px;
}

.barraBusqueda a{
    text-decoration: none;
}


#buscador {
    flex: auto; 
    width: 60vw;
    margin: 0 20px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid var(--naranja-suave);
    padding-left: 7px;
}


/* botones del head */

.botonesHeadDeslog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px; /*30px para 3 botones*/
    /* gap: 12px  agregado para 3 botones*/
}

.botonesHeadLog {  /*logueado */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingresarHeadDesLog {
    display: flex;
    align-items: flex-end; 
    border: 2px solid var(--naranja-suave); 
    width: 120px;
    justify-content: space-between;
    padding: 10px;
    background: transparent;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

.ingresarHeadLog {
    display: none;
}

.datosUserDesLog {
    display: none;
}

.datosUserLogeado {
    display: flex;
    border: 2px solid var(--naranja-suave);
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    width: 37px;
    height: 37px;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--naranja-suave);
    font-weight: bold;
    font-size: 20px;
}

.carritoComprasDeslog {
    display: none;
}

.carritoCompraslog {
    display: flex;
    align-items: flex-end;
    border: none;
    justify-content: space-between;
    width: 35px;
    background: transparent;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 0;
    margin: 0 7px;
}

.carritoCompraslog img{
    width: 100%;
}

.logoutNolog {
    display: none;
}


.logout {
    display: flex;
    align-items: flex-end;
    border: none;
    justify-content: space-between;
    width: 37px;
    background: transparent;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 0px;
}

.logout img {
    width: 100%;
}
/* Fin botones del head */

#carritoeMercado {
    margin: 10px;
    width: 50px;
}


/*----------FIN Seccion Superior----------*/
  /*----------Seccion Inferior----------*/
.barraNavegacion {
    display: flex;
    flex-wrap: wrap;
}

.barraNavegacion ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    justify-content: left;
    padding-left: 10px;
    column-gap: 14px;
    margin: 8px;
}

.barraNavegacion li a {
    color: white;
    text-decoration: none;
}
/*----------FIN Header----------*/

/*----------Comienzo Products.html----------*/
body {
    background-color: var(--fondo-contPrincipales);
}

#filtros {
    font-family: 'Inter', sans-serif;
    background-color: var(--fondo-MenuFiltro);
    padding: 10px 0;
    z-index: 10;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 245px;
    width: 245px;
    border-right: 2px solid var(--contorno-MenuFiltro);
    border-bottom: 2px solid var(--contorno-MenuFiltro);
}

.mainProducts {
    display: flex;
    margin: 3vw 5vw;
    transition: margin-left 0.2s ease;
}

.mainProducts-FiltroMostrar {
    display: flex;
    margin: 30px 70px;
    margin-left: 280px;
    transition: margin-left 0.2s ease;
}

/* Seccion de filtros */
.filtrosContenedor-oculto {
    position: absolute;
    left: -245px;
    top: 114px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: left 0.2s ease;
    height: 100%;
}

.filtrosContenedor-mostrar {
    position: absolute;
    left: 0;
    top: 114px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: left 0.2s ease;
    height: 100%;
}


.flechaDesplegable-mostrar {
    rotate: 180deg;
    width: 25px;
}

.flechaDesplegable-oculto {
    width: 25px;
}


#flechaDesplegable {
    display: flex;
    border: 2px solid var(--contorno-MenuFiltro);
    border-left: 0;
    padding: 5px 0px;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--fondoFlecha-menuFiltro);
}

#filtros lu {
    list-style-type: none;
}


#lista-OrdenarPor{
    list-style: none;
    padding: 2px 0px;
    margin: 0;
    font-weight: 300;
    cursor: pointer;
}

#AZ{
    padding: 5px 20px;
}

#AZ:hover{
    background-color: var(--hoverOpciones-menuFiltro);
}

#ZA{
    padding: 5px 20px;
}

#ZA:hover{
    background-color: var(--hoverOpciones-menuFiltro);
}

#Relevancia{
    padding: 5px 20px;
}

#Relevancia:hover{
    background-color: var(--hoverOpciones-menuFiltro);
}

#PrecioA {
    padding: 5px 20px;
}

#PrecioA:hover{
    background-color: var(--hoverOpciones-menuFiltro);
}

#PrecioD {
    padding: 5px 20px;
}

#PrecioD:hover{
    background-color: var(--hoverOpciones-menuFiltro);
}

#contOrdenarPor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid var(--contornoOpciones-menuFiltro);
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

#contOrdenarPor:hover {
    background-color: var(--hoverOpciones-menuFiltro);
}

#contBotonPrecio:hover {
    background-color: var(--hoverOpciones-menuFiltro);
}

.flechaOrdenarPor-oculto {
    transition: rotate 0.1s linear;
}

.flechaOrdenarPor-mostrar {
    rotate: 90deg;
    transition: rotate 0.1s linear;
}

.lista-OrdenarPor-oculto {
    display: none;
}

.lista-OrdenarPor-mostrar {
    display: list-item;
}


.flechaPrecio-oculto {
    transition: rotate 0.1s linear;
}

.flechaPrecio-mostrar {
    rotate: 90deg;
    transition: rotate 0.1s linear;
}

.rangos-ocultos {
    display: none;
}

.selectMoneda-oculto {
    display: none;
}

.selectMoneda-mostrar {
    display: flex;
    align-items: baseline;
}

#selectMoneda input {
    display: none;
}

#selectMoneda {
    gap: 8px;
    padding: 5px 20px;
}

#selectMoneda p{
    margin: 5px 0;
}

.label-selec {
    font-weight: bold;
}

.label-noSelec {
    font-weight: 400;
}

.rangos-mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 20px;
}

#filtrarPrecio {
    display: flex;
    flex-direction: column;
}

.btn-oculto {
    display: none;
}

.btn-mostrar {
    padding: 5px;
    background: var(--naranja-intenso);
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    width: 70px;
    align-self: center;
    margin-top: 10px;
}

.btn-mostrar:hover {
    background: var(--naranja-oscuroHoversBtn);
}


.lista-OrdenarPor-mostrar {
    display: list-item;
}

#contBotonPrecio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid var(--contornoOpciones-menuFiltro);
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.rangosBoton {
    width: 75px;
    border-radius: 4px;
    border: solid 2px var(--camposInput-gris);
    text-align: center;
    height: 20px;
}

#partContOrdenarPor {
    display: flex;
    align-items: center;
}

#partContOrdenarPor p{
    margin: 0 0;
}

.ocultarInicial {
    display: none;
}

.mostrarfiltro {
    display: flex;
}

#tipoFiltro {
    color: var(--texto-resaltanteAzul);
    margin: 0;
    margin-left: 4px !important;
    font-weight: 300;
}

#imgTipoFiltro {
    margin-left: 4px;
}

#contRangos p{
    margin: 0px;
}

#contenedorItem {
    flex-grow: 1;
}

#catalogoArticulos {
    display: flex;
    width: 100%;
}

.card {
    display: flex;
    box-shadow: 0px 0px 2px 2px var(--sombra-cards);
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    color: var(--texto-colorPrincipal);
    background-color: var(--fondo-cards);
    transition: transform 0.5s ease;
}

.card:hover {
    box-shadow: 0px 0px 2px 2px var(--sombraHover-cards);
    transform: scale(1.01);
    transition: transform 0.5s ease;
}

.card-img {
    width: 17vw;
    border-radius: 5px;
    align-self: center;
    margin: 5px;
    min-width: 180px;
}

.card-cuerpo {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 4;
    padding-left: 10px;
}

.card-cuerpo h1{
    margin-top: 12px;
    font-size: clamp(1.85rem, 0.704rem + 2.385vw, 2.85rem);
    margin-bottom: 0;
}



.card-cuerpo #cantVendidos{
    font-size: clamp(0.7rem, 0.356rem + 0.715vw, 1rem);
    margin-top: 0px;
    margin-bottom: 0;
    color: var(--texto-colorAtenuado)
}


.card-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding-right: 5px; 
    min-width: 150px;
}

.card-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding-right: 5px; 
    min-width: 150px;
}

p.card-boton .button {
    font-size: clamp(0.65rem, 0.249rem + 0.835vw, 1rem);
    padding: 7px;;
}

.card-precio {
    align-self: center;
    margin: 6px;
    text-align: center;
    font-size: clamp(1.1rem, 0.527rem + 1.192vw, 1.6rem);
    white-space: nowrap;
}

.card-boton {
    align-self: center;
    margin: 0;
}

#descripcion {
    font-size: clamp(0.9rem, 0.556rem + 0.715vw, 1.2rem);
    margin: 10px 0;
}

#botonFiltros {
    display: none;
}

#menu {
    display: none;
} 

#filtrosContenedorMobileTablet {
    display: none;
}

/*----------Fin Products.html----------*/


/*Parte de products*/

#footerIndex {
    display: none;
}




/*----------Product-info.html----------*/

#productInfo {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 94%;
    margin: 25px 3vw;
}

#contenedorMain {
    display: none;
}

#mostrarProducto {
    display: flex;
    flex-direction: row;
    width: 70vw;
    padding: 10px;
    margin-right: 2vw;
    border: solid 2px var(--bordeEstandar-color);
    border-radius: 5px;
    background-color: var(--fondo-cards);
}



#imgContPrincipal {
    width: 90%;
    display: flex;
    align-items: center;
    background-color: var(--limitadorCont-fondo);
}

#imgContPrincipal img {
    width: 100%;
}
    
.imgEnGal {     
    aspect-ratio: 1 / 1;    
    object-fit: cover; 
    border-radius: 8px;
    width: 100%;
    border: solid 3px var(--bordeEstandar-color);
    box-sizing: border-box;
    /* border: solid 3px #3483fa;  Estilo de imagen seleccionado*/
}

#galImg {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    gap: 30px;
    width: 10%;
    min-width: 75px;
    padding-left: 10px;
    max-height: 470px;
    overflow-y: auto;
    align-self: center;
    height: 100%;
}

/* Parte derecha */
#infoProducto {
    display: flex;
    flex-direction: column;
}

#acercaDeProducto {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0px 0px 3px 3px var(--sombra-cards);
    border-radius: 5px;
    min-width: 272px;
    background-color: var(--fondo-cards);
}

#nombreProd {
    font-size: clamp(2.5rem, 1.466rem + 2.149vw, 3.4rem);
    margin: 0;
}

#infoVenCat {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    margin: 2px 0 0;
}

#infoVenCat p {
    margin: 0;
    font-size: clamp(0.7rem, -0.122rem + 1.302vw, 1.05rem);
}

#precioProd {
    color: var(--naranja-intenso);
    font-weight: bold;
    font-size: clamp(1.5rem, 0.696rem + 1.672vw, 2.2rem);
    margin: 0;
}

#descripcionProd {
    font-size: clamp(1rem, 0.655rem + 0.716vw, 1.3rem);
    margin: 0;
}

.prodRelacionado {
    box-shadow: 0px 0px 2px 1px var(--campos-sombras-gris);
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
    max-width: 120px;
    min-width: 120px;
}
    

.prodRelacionado img {
    display: block;
    object-fit: cover;
    width: 100%;
    border-radius: 2px;
}   

#listProdRelacionados {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    gap: 2%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-color: var(--limitadorCont-fondo);
    border: 1px solid var(--campos-sombras-gris);
    padding: 5px;
    overflow: auto;
}

#listProdRelacionados p {
    padding: 5px;
    margin: 0;
    white-space: nowrap;
    font-size: 0.85rem;
    border-top: 1px solid var(--campos-sombras-gris);
}

#imgPrincipal {
    border-radius: 5px;
}

#agregarCarritoInfo {
    align-self: center;
    width: 95%;
    margin: 15px 0;
    padding: 7px;
    font-size: clamp(0.88rem, 0.512rem + 0.764vw, 1.2rem);
}

#relProductos h2 {
    font-size: clamp(0.8rem, 0.11rem + 1.433vw, 1.4rem);
}


/* Cartel Sin resultado */
#contMsjErr {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-self: center;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: var(--texto-colorSuavizado);
    font-weight: 400;
    align-items: center;
    font-size: 2rem;
    height: 60vh;
    margin: 3vw 25vw;
    z-index: -5;
}

#contMsjErr img {
    width: 350px;
}

/*------------ Hacer un comentario ---------------*/
.popUpCalificar-ocultar{
    display: none;
}

.popUpCalificar-mostrar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--rgb);
    width: 100vw;
    height: 100vh;
}

.calificar-mostrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    width: 35%;
    min-width: 450px;
    max-width: 500px;
    padding: 20px;
    border-radius: 6px;
}

.calificar-ocultar {
    display: none;
}

.calificar-mostrar p{
    justify-self: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
}

.calificar-mostrar form{
    display: flex;
    width: 100%;
    height: 55px;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

.calificar-mostrar label{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 550;
}

.calificar-mostrar form label{
    width: 55px;
}

.calificar-mostrar form label input{
    appearance: none;
}


.calificar-mostrar button{
    justify-self: center;
    margin: 20px 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 1.2rem
}

#comentUser {
    width: 100%;
    padding: 5px;
    border: solid 1.8px var(--naranja-suave);
    border-radius: 3px;
    height: 128px;
    max-height: 295px;
    min-height: 33px;
    font-weight: 350;
    font-family: 'Inter', sans-serif;
}

#aviso.aviso-mostrar {
    color: var(--campos-error);
    display: block;
    font-size: 1rem;
    margin-top: 10px;
}

#aviso.aviso-ocultar {
    display: none;
}

.noCalificar-mostrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    width: 35%;
    min-width: 450px;
    max-width: 500px;
    padding: 35px;
    border-radius: 6px;
}

.noCalificar-ocultar {
    display: none;
}

.noCalificar-mostrar p {
    justify-self: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.noCalificar-mostrar .button {
    width: 100%;
    font-size: 1.3rem;
    padding: 7px;
}

/*------------ Hacer un comentario ---------------*/
.popUpCalificar-ocultar{
    display: none;
}

.popUpCalificar-mostrar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--rgb);
    width: 100vw;
    height: 100vh;
}

.calificar-mostrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    width: 35%;
    min-width: 450px;
    max-width: 500px;
    padding: 20px;
    border-radius: 6px;
}

.calificar-ocultar {
    display: none;
}

.calificar-mostrar p{
    justify-self: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
}

.calificar-mostrar form{
    display: flex;
    width: 100%;
    height: 55px;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

.calificar-mostrar label{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 550;
}

.calificar-mostrar form label{
    width: 55px;
}

.calificar-mostrar form label input{
    appearance: none;
}


.calificar-mostrar button{
    justify-self: center;
    margin: 20px 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 1.2rem
}

#comentUser {
    width: 100%;
    padding: 5px;
    border: solid 1.8px var(--naranja-suave);
    border-radius: 3px;
    height: 128px;
    max-height: 295px;
    min-height: 33px;
    font-weight: 350;
}

#aviso.aviso-mostrar {
    color: var(--campos-error);
    display: block;
    font-size: 1rem;
    margin-top: 10px;
}

#aviso.aviso-ocultar {
    display: none;
}

.noCalificar-mostrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    width: 35%;
    min-width: 450px;
    max-width: 500px;
    padding: 35px;
    border-radius: 6px;
}

.noCalificar-ocultar {
    display: none;
}

.noCalificar-mostrar p {
    justify-self: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.noCalificar-mostrar .button {
    width: 100%;
    font-size: 1.3rem;
    padding: 7px;
}

/*------------ Seccion comentarios ---------------*/

#opiniones-titulo{
    display: none;
}

#opiniones-titulo-sem{
    padding: 0px 15px;
    margin: 35px 0px 20px;
}

#contenedorComentarios {
    display: flex;  
    justify-content: space-around;
    align-self: center;
    align-items: flex-start;
}

#contenedorBottom {
    width: 100%;
    align-self: center;
}


.checked {
    color: var(--rgb2);
}

#valoraciones {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding: 0px 15px;
    flex: 1;
    max-width: 298px;
    padding-bottom: 15px;
    background-color: var(--fondo-cards);
}

#valoraciones>p {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.barraCalificacion {
    width: 125px;
    border: 1px solid var(--campos-sombras-gris);
    height: 70%;
    min-width: 125px;
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    overflow: hidden;
}

.porcentajeP {
    min-width: 42px
}

.contenedorCalificacion{ 
    display: flex;
    gap: 10px;
    justify-content: space-between;
    white-space: nowrap;
    min-height: 40px;
    height: 40px;
    align-items: center;
}

.contenedorCalificacion p{ 
    margin: 0;
}


.cantEstrellas {
    margin: 0;
    min-width: 80px;
}

#list-comment{
    display: flex;
    flex-direction: column;
    flex: 4;
    box-sizing: border-box;
}


.comentario-nombre {
    font-size: clamp(1.3rem, 0.783rem + 1.075vw, 1.75rem);
    display: flex;
    flex-direction: column;
    color: var(--texto-colorEnfasis);
}
.comentario-nombre>span {
    font-size: clamp(0.9rem, 0.44rem + 0.955vw, 1.3rem);
    display: flex;
    align-items: center;
    padding-top: .2rem;

}


.comentario {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: clamp(.2rem, 3.5267vw + -1.2274rem, 1rem);
    border: 1px solid var(--bordeEstandar-color);    
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: var(--fondo-cards);
    color: var(--texto-colorPrincipal);
}

.comentario-contenido {
    word-wrap: break-word;
    line-height: 1.4;
    font-size: clamp(1.1rem, 0.525rem + 1.194vw, 1.6rem);
}

.comentario-fecha {
    font-size: clamp(.6rem, 1.3921vw + .1600rem, 1.3rem);
    padding-left: 10px;
    margin: 0px;
}

#contenedorTop {
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
    align-items: stretch;
    width: 100%;
}

#btnComentar {
    display: none;
}

#btnComentarSem {
    margin-top: 13px;
    padding: 3px;
}

#btnComentar:hover {
    color: var(--comentar-hover);
}

.barrEstrella {
    background-color: var(--estrella);
    object-fit: cover;
}

/*------------ Categories ---------------*/
#contCatList.ocultarFiltros{
    margin: 3vw 5vw;
}

#contCatList.mostrarFiltros{
    margin: 3vw 5vw;
    margin-left: 300px;
}

#mainProductsCat{
    display: none;
}

.contenedorCat{
    width:100%;
}

.catFila {
    display: flex;
    flex-direction: row;
}

.catDescripcion{
    font-size: clamp(1rem, 0.571rem + 0.893vw, 2rem);
}

.conCatInfo {
    flex: 2;
    padding: 10px;
}

.carDescripcion {
    margin: 10px 0;
}

.imgCategories {
    border-radius: 3px;
    min-width: 164px;
    display: flex;
    flex: 1;
    max-width: 15vw;
    padding: 5px;
    align-self: center;
}

.catCardPrincipal {
    box-shadow: 0px 0px 2px 2px var(--campos-sombras-gris);
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    color: var(--texto-colorPrincipal);
    transition: transform 0.5s ease;
}

.catCardPrincipal:hover {
    box-shadow: 0px 0px 2px 2px var(--sombraHover-cards);
    transform: scale(1.01);
    transition: transform 0.5s ease;
}

.catCantVendidos {
    font-size: clamp(0.8rem, 0.499rem + 0.625vw, 1.5rem);
    font-weight: 400;
    color: var(--texto-colorAtenuado);
    padding-left: 1px;
}

.catTitulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}



.catNombre {
    font-size: clamp(2rem, 1.055rem + 1.965vw, 4.2rem);
    margin: 0;
}

.conCatPrincipal {
    width: 100vw;
}

.cantArtCat-oculto {
    display: none;
}

.cantArtCat-mostrar {
    display: flex;
    padding: 10px 20px;
}

.cantArtCat-mostrar p{
    margin: 0;
    font-size: 0.8rem;
}

#contBotonPrecio p{
    margin: 0 0;
}

#contBtnsCat {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

#contBtnsCat button{
    font-size: 0.7rem;
    padding: 4px;
    width: 50px;
} 

#contPrincipalCat {
    display: none;
}

}