:root{  
    /* Colores generales */
    --principal-color: rgba(255, 123, 53, 1);
    --secundario-color: rgba(227, 98, 29, 1);
    --gradiente-primario: linear-gradient(to bottom, rgba(255, 123, 53, 1) 86.05769276618958%,rgba(227, 98, 29, 1) 100%);
    --naranja-intenso:#ff6d1f;
    --naranja-suave:#FF8849;
    --texto-colorEnfasis: black;
    --texto-colorPrincipal:#2a2a2a;
    --texto-colorAtenuado:#b4b3b3;
    --texto-colorSuavizado: #d8d8d8;
    --texto-resaltanteAzul:#3483fa;
    --texto-negativo: white;
    --bordeEstandar-color: #ddd;
    --sombra-popUps: rgb(0, 0, 0, 0.2);
    --sombraIcons-header: white; /*DFDFDF*/
    --brillobtn-headear: 100%; /*85 modo oscuro*/
    --brilloLogo-img: brightness(100%);
    
    /* body && contPrincipales */
    --fondo-contPrincipales: white;

    /*Campos de entrada texto*/
    --camposInput-gris: #dddd;
    --camposInput-error:#de514e;
    --camposInput-fondo: white;

    /*Menu filtros*/
    --fondo-MenuFiltro: #f7f7f7;
    --fondoMobile-menuFiltro: white;
    --contorno-MenuFiltro: #ddd;
    --hoverOpciones-menuFiltro: #d1d1d1;
    --contornoOpciones-menuFiltro: #ddd;
    --fondoFlecha-menuFiltro: #f7f7f7;
    --imgsMobile-menuFiltro: brightness(1);

    /*Menu mobile*/
    --fondo-menuMobile: white; 
    --fondoOpcion-menuMobile: #e7e7e7;
    --brilloBtn-menuMobile: 100%;
    --sombraBtn-menuMobile: #ff8c4e;


    /* Tarjetas */
    --sombra-cards: #ddd;
    --sombraHover-cards: #ff972e;
    --fondo-cards: white;
    --limitadorCont-fondo: #f8f8f8; /* #242323*/
    --fondoProdRel-cards: white;

    /*Barra busqueda*/
    --color-barraBusqueda: white;
    --texto-barraBusqueda: #b4b3b3;

    /*Botones*/
    --naranja-oscuroHoversBtn:#dc5a03;
    --colorbtn-normal: rgb(245, 245, 245);
    --colorbtn-hover: rgb(216, 216, 216);

    /* Valor miPerfil */
    --fondo-miPerfil: rgb(217, 217, 217);
    --fondoContDatos-miPerfil: white;
    --perfil-gradiente-primario: linear-gradient(to bottom, var(--principal-color) 60%, var(--fondo-miPerfil) 40%);

        /* Animacion barra de navegacion */
    --iconosCirculares-duracionAni: 0.15s;
    --iconosCircularesAnimacion-color: #ef6b24;

    --iconosCuadrados-colorOculto: rgb(165, 74, 25, 0);
    --iconosCuadrados-colorVisto: rgb(165, 74, 25, 1);
    --iconosCuadrados-duracionAni: 0.15s;
    --iconosCuadrados-duracionTra: 0.15s;

    /* Carrito */
    --brilloImg-carritoVacio: brightness(175%);
    --colorBoton-carritoVacio: #f5f5f5;
    --colorTextBoton-carritoVacio: #b4b3b3;
    --colorBotonH-carritoVacio: #ff9954;
    --colorTextBtonoH-carritoVacio: #fddabc;
    --fondoImgPortada-carritoLleno: #e7e7e7;
}   

body.darkmode {
    /* Colores generales */
    --principal-color: rgb(204, 71, 0, 1);
    --secundario-color: rgba(147, 52, 0, 1);
    --gradiente-primario: linear-gradient(to bottom, var(--principal-color) 86.05769276618958%, var(--secundario-color) 100%);
    --naranja-intenso:#C33505;
    --naranja-suave:#B84000;
    --texto-colorEnfasis: rgb(238, 238, 238); /* ?? */
    --texto-colorPrincipal:#D9D9D9;
    --texto-colorAtenuado:#888888;
    --texto-colorSuavizado: #C0C0C0; /* ?? */
    --texto-resaltanteAzul:#295ba4;
    --texto-negativo: white;
    --bordeEstandar-color: #878787;
    --sombra-popUps: rgb(0, 0, 0, 0.2);
    --sombraIcons-header: #ebebeb;
    --brillobtn-headear: 92%; /*85 modo oscuro*/
    --brilloLogo-img: brightness(90%);
    
    /* body && contPrincipales */
    --fondo-contPrincipales: #1D1D1D;

    /*Campos de entrada texto*/
    --camposInput-gris: #DDDDDD;
    --camposInput-error:#a93f3d;
    --camposInput-fondo: #3A3A3A;

    /*Menu filtros*/
    --fondo-MenuFiltro: #2D2D2D;
    --fondoMobile-menuFiltro: #2D2D2D;
    --contorno-MenuFiltro: #1D1D1D;
    --hoverOpciones-menuFiltro: #1D1D1D;
    --contornoOpciones-menuFiltro: #1d1d1d;
    --fondoFlecha-menuFiltro: #2D2D2D;
    --imgsMobile-menuFiltro: brightness(7);

    /*Menu mobile*/
    --fondo-menuMobile: #2c2c2c; 
    --fondoOpcion-menuMobile: #242424;
    --brilloBtn-menuMobile: 5;
    --sombraBtn-menuMobile: #0203098f;

    /* Tarjetas */
    --sombra-cards: rgb(17, 17, 17);
    --sombraHover-cards: var(--secundario-color);
    --fondo-cards: #2C2C2C;
    --limitadorCont-fondo: #2e2e2e;
    --fondoProdRel-cards: #232323;

    /*Barra busqueda*/
    --color-barraBusqueda: #232323;
    --texto-barraBusqueda: #D9D9D9;

    /*Botones*/
    --naranja-oscuroHoversBtn: rgba(147, 52, 0, 1); 
    --colorbtn-normal: rgb(245, 245, 245);
    --colorbtn-hover: rgb(216, 216, 216);

    /* Valor miPerfil */
    --fondo-miPerfil: #2D2D2D;
    --fondoContDatos-miPerfil: #434343;
    --perfil-gradiente-primario: linear-gradient(to bottom, var(--principal-color) 60%, var(--fondo-miPerfil) 40%);

    /* Animacion barra de navegacion */
    --iconosCirculares-duracionAni: 0.15s;
    --iconosCircularesAnimacion-color: #eb5f00;

    --iconosCuadrados-colorOculto: rgba(204, 71, 0, 0);
    --iconosCuadrados-colorVisto: rgba(204, 71, 0, 1);
    --iconosCuadrados-duracionAni: 0.15s;
    --iconosCuadrados-duracionTra: 0.15s;

    /* Carrito */
    --brilloImg-carritoVacio: brightness(175%);
    --colorBoton-carritoVacio: #f5f5f5;
    --colorTextBoton-carritoVacio: #b4b3b3;
    --colorBotonH-carritoVacio: #ff9954;
    --colorTextBtonoH-carritoVacio: #fddabc;
    --fondoImgPortada-carritoLleno: #272626;
}




/*Boton primario*/
.button {
    padding: 10px;
    background: var(--naranja-intenso);
    border: none;
    color: var(--colorbtn-normal);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background: var(--naranja-oscuroHoversBtn);
    color: var(--colorbtn-hover);
}
/*Fin boton primario*/

/*links*/
.link {
    color: #FF6600;
    text-decoration: none;
}
/*links*/

.buttonSecundario {
    padding: 10px;
    background: var(--secundario-color);
    border: none;
    color: var(--colorbtn-normal);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.buttonSecundario:hover {
    background: var(--naranja-oscuroHoversBtn);
}

/* Estrellas */
.estrella {
   display: flex;
   background-image: url(../img/estrella.svg);
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   min-width: 3px;
   height: 100%;
}

.estrella.estrellaSelect {
   background-image: url(../img/estrellaSelect.svg);
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   min-width: 3px;
   height: 100%;
}