@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*--------------Login Smartphone---------*/
@media (max-width: 321px) {

    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: var(--fondo-contPrincipales);
        transition: background-color var(--animacion-darkMode) ease;
    }

    .container {
        display: flex;
        height: 100vh;
    }

    /*control de estilos parte izquierda*/
    #izq {
        display: none;
    }

    /*control de estilos parte derecha*/

    #der {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formulario {
        width: 85vw;
        text-align: center;
        min-width: 220px;
    }

    .formulario img {
        width: 68%;
        min-width: 81px;
        filter: var(--brilloLogo-img);
    }

    .formulario h2 {
        font-family: Arial, sans-serif;
        margin: 0;
        color: var(--texto-colorPrincipal);
        font-size: clamp(10px, 7.7vw, 24px);
    }

    .formulario .camposInput {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 2px solid var(--camposInput-gris);
        border-radius: 5px;
        box-sizing: border-box;
        background-color: var(--camposInput-fondo);
    }

    .formulario .camposError {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 2px solid var(--camposInput-error);
        border-radius: 5px;
        box-sizing: border-box;
        background-color: var(--camposInput-fondo);
    }

    .claseError {
        display: none;
        margin: 0px;
        font-size: clamp(7pt, 7.7vw, 10pt) ;
        text-align: start;
        color: var(--camposInput-error);
    }

    #ingresarLogin {
        margin-top: 10px;
        width: 100%;
        min-height: 36px;
        font-size: 17px;
    }

    #extra {
        margin-top: 15px;
        font-size: clamp(10px, 7.7vw, 15px);
        color: var(--texto-colorPrincipal);
    }
/*---------------Fin Login---------------*/

/*---------------Hedear---------------*/
/*----------Seccion Superior----------*/

    .headerClass {
        width: 100vw;
    }
   
    .barraBusqueda {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        background: var(--gradiente-primario);
        width: 100%;
        height: 55px;
        align-items: center;
    }

    #logoHeader {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        padding-left: 5px;
        filter: brightness(var(--brillobtn-headear));
        transition: filter var(--animacion-darkMode) ease;
    }

    #botonesHead {
        display: none;
    }

    .botonesCelStyle {
        display: flex;
        align-items: center;
        padding-right: 5px;
    }

    #carritoeMercado {
        display: none;
    }
    
    @media (max-width: 274px) {
        #emercado {
            display: none;
        }
    }

    #menuBarras {
        display: flex;
        width: 32px;;
    }

    #ingresarIcono {
        width: 37px;
        filter: brightness(var(--brillobtn-headear));
        transition: filter var(--animacion-darkMode) ease;
    }

    .emercadoBuscando {
        display: none;
    }

    .emercadoNoBuscando {
        width: 115px;
    }


    .barraBusqueda a {
        text-decoration: none;
    }


   .buscando {
        display: flex;
        flex: auto;
        width: 60vw;
        margin-right: 11px;
        margin-left: 8px;
        height: 22px;;
        border-radius: 5px;
        border: 2px solid var(--naranja-suave);
        font-size: 10px;
        padding-left: 7px;
        min-width: 110px;
        background-color: var(--color-barraBusqueda);
        color: var(--texto-barraBusqueda);
        transition: 
            background-color var(--animacion-darkMode) ease, 
            color var(--animacion-darkMode) ease,
            border var(--animacion-darkMode) ease;
    }

    .buscando::placeholder {
        color: var(--texto-barraBusqueda);
        opacity: 1;
        transition: color var(--animacion-darkMode) ease;
    }

    .noBuscando {
        display: none;
    }

        /* botones del head */

#botonesHead {
    display: none;
}


.ingresarHeadDesLog {
    display: flex;
    align-items: flex-end;  
    width: 120px;
    justify-content: space-between;
    background: transparent;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

.ingresarHeadLog {
    display: none;
}

.datosUserDesLog {
    display: none;
}

.datosUserLogeado {
    display: flex;
    border: 2px solid var(--principal-color);
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    min-width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: var(--sombraIcons-header);
    color: var(--principal-color);
    font-weight: bold;
    font-size: 15px;
    margin: 0 4px;
    transition: 
        background-color var(--animacion-darkMode) ease,
        color var(--animacion-darkMode) ease,
        border var(--animacion-darkMode) ease;
}

#header-fotoPerfilMobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carritoComprasCel img {
    width: 30px;
}

#buscadorIcono {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0px;
    height: 100%;
    width: 32px;
    padding: 6px 0;
    filter: brightness(var(--brillobtn-headear));
}

#buscadorIcono img {
    width: 31px;
}

.carritoComprasDeslog {
    display: none;
}

.carritoCompraslog {
    display: flex;
    align-items: center; 
    border: 0px; 
    padding: 0;
    justify-content: center;
    background-color: transparent;
    color: white;
    width: 40px;
    height: 40px;
    filter: brightness(var(--brillobtn-headear));
    transition: filter var(--animacion-darkMode) ease
}

.logoutNolog {
    display: none;
}

.buscadorIconoMostando {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0px;
    padding: 6px 0;
}

.buscadorIconoBuscando {
    display: none;
}


/* .logout {
    display: flex;
    align-items: flex-end; 
    border: 2px solid var(--estilos2); 
    justify-content: space-between;

    padding: 10px;
    background: var(--estilos4);
    color: white;
    font-size: 16px;
    border-radius: 5px;
} */
/* Fin botones del head */


    /*----------FIN Seccion Superior----------*/
    /*----------Seccion Inferior----------*/
    .barraNavegacion {
        display: none;
    }
    /*----------FIN Header----------*/

/*----------Comienzo Products.html----------*/

    body {
        margin: 0;
    }

    .mainProducts {
        display: flex; 
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
    }

    .mainProducts-FiltroMostrar {
        display: flex; 
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
    }

    #filtros {
        display: none;
    }

    #filtros lu {
        list-style-type: none;
    }

    #contenedorItem {
        display: flex; 
        flex-direction: column;
        margin: 3vw 4vw;
    }

    .card {
        display: flex;
        box-shadow: 0px 0px 2px 2px var(--sombra-cards);
        margin-bottom: 10px;
        border-radius: 5px;
        overflow: hidden;
        font-family: 'Inter', sans-serif;
        color: var(--texto-colorPrincipal);
        transition: transform 0.5s ease;
        background-color: var(--fondo-cards);
        transition: 
            transform 0.5s ease,
            color var(--animacion-darkMode) ease;
    }

    .card:hover {
        box-shadow: 0px 0px 2px 2px var(--sombraHover-cards);
        transform: scale(1.01);
        transition: transform 0.5s ease;
    }

    .card-img {
        padding: 5px;
        width: 26vw;
        border-radius: 5px;
        align-self: center;
    }

    /* .card:hover {
        transform: scale(1.0092);
        padding-left: 5px;
    } */

    .card:hover h1 {
        color: var(--principal-color);
    }

    .card-cuerpo {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex: 4;
    }

    .card-cuerpo h1 {
        font-size: clamp(9px, 4vw, 14px);
        margin-bottom: 0;
        margin-top: 4px;
    }   

    .card-cuerpo #descripcion{
        font-size: clamp(0.33rem, 0.111rem + 1.943vw, 0.5rem);
        margin-top: 2.5px;
        overflow: auto;
        margin-bottom: 2px;
    }

    .card-cuerpo #cantVendidos {
        margin-top: 0px;
        font-size: clamp(4px, 3vw, 7px);
        margin-bottom: 0;
        color: var(--texto-colorAtenuado);
        transition: color var(--animacion-darkMode) ease;
    }

    .card-footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        padding: 0px 5px;
    }


    .card-footer .card-precio {
        align-self: center;
        font-size: clamp(7.5px, 2.3vw, 17px);
        margin: 0;
        text-align: center;
    }

    .card-boton {
        align-self: center;
        margin-top: 5px;
        margin: 0;
    }

    .button {
        font-size: clamp(5px, 10vw, 5px);
        padding: 2.5px;
        white-space: nowrap;
        border-radius: 2px;
    }

    #catalogoArticulos {
        display: flex;
        flex-direction: column;
    }

    #botonFiltros {
        display: flex;
        color: var(--texto-resaltanteAzul);
        font-weight: 450;
        box-shadow: 1px 0px 4px 0px var(--bordeEstandar-color);
        align-items: center;
        padding: 5px 6px;
        border-right: solid 1px var(--bordeEstandar-color);
        font-size: 13px;
        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
        height: 100%;
        transition: 
            box-shadow var(--animacion-darkMode) ease,
            color var(--animacion-darkMode) ease,
            border-right var(--animacion-darkMode) ease;
    }

    #botonFiltros img {
        height: 20px;
        width: auto;
    }
    /* .card-boton:hover {
        transform: scale(1.02);
    } */

/*----------Fin Products.html----------*/


/*-----------Menu desplegable--------- */

#menu.noDesplegado {
    position: fixed;
    background-color: var(--fondo-menuMobile);
    width: 300px;
    height: 100%;
    z-index: 20; 
    left: -300px;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: background-color var(--animacion-darkMode) ease;
}

#menu.Desplegado {
    position: fixed;
    background-color: var(--fondo-menuMobile);
    width: 100vw;
    height: 100%;
    z-index: 20; 
    left: 0px;
    top: 0;
    display: flex;
    flex-direction: column;
    min-width: 272px;
    transition: background-color var(--animacion-darkMode) ease;
}

#usuario-menu {
    border-bottom: solid 2px var(--bordeEstandar-color);
    height: 55px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: var(--gradiente-primario);
    transition: border-bottom var(--animacion-darkMode) ease;
}

#usuario-menu img{
    margin-right: 20px;
    border: 2px solid var(--secundario-color);
    border-radius: 6px;
    transition: border var(--animacion-darkMode) ease;
}

.boton-menu{
    border-bottom: solid 2px var(--bordeEstandar-color);
    height: 75px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: var(--texto-colorPrincipal);
    transition: color var(--animacion-darkMode) ease;
}

#categoriasMenu {
    display: flex;
    flex-direction: column;
}


.categoriasBotonContraido {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 21.5px;
    color: var(--texto-colorPrincipal);
    transition: color var(--animacion-darkMode) ease;
}

.categoriasBotonDesplegado {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-right: 21.5px;
    color: var(--texto-colorPrincipal);
    transition: color var(--animacion-darkMode) ease;
}

.link-menu {
    padding-left: 15px;
    color: var(--campos-gris8);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#boton-categorias-menu {
    align-self: center;
    padding-left: 15px;
}

.lista-menu-oculto{
    display: none;
    list-style-type: none;
    font-size: 17px;
    padding-left: 31px;
    align-self: flex-start;
    margin-top: 0;  
}

.lista-menu-desplegado{
    display: list-item;
    color: var(--texto-colorAtenuado);
    list-style-type: none;
    font-size: 17px;
    padding-left: 31px;
    align-self: flex-start;
    margin-top: 0;  
    transition: color var(--animacion-darkMode) ease;
}

.flecha-menu{
    padding-right: 20px;
    width: 32px;
}

.flechaCategorias {
    width: 29px;
    transition: rotate 0.1s linear;
}

.flechaCategoriaDesplegada {
    width: 29px;;
    rotate: 90deg;
    transition: rotate 0.1s linear;
}

#flecha-abajo {
    display: none;
}

#email {
    padding-left: 10px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.noDesplegadoCategorias {
    display: flex;
    flex-direction: column;
    height: 75px;
    border-bottom: solid 2px var(--bordeEstandar-color);
    justify-content: center;
}

.DesplegadoCategorias {
    display: flex;
    flex-direction: column;
    height: auto;
    border-bottom: solid 2px var(--bordeEstandar-color);
    justify-content: center;
    transition: border-bottom var(--animacion-darkMode) ease;
}

li a {
    text-decoration: none;
    color: var(--texto-colorAtenuado);
}

.cerrarSesionMenu { 
    border-radius: 5px;
    min-width: 28px;
    filter: brightness(var(--brilloBtn-menuMobile));
    box-shadow: 0px 0px 2px 1.5px var(--sombraBtn-menuMobile);
    transition: 
        filter var(--animacion-darkMode) ease,
        box-shadow var(--animacion-darkMode) ease;
}

.cerrarSesionMenuOculto { 
    display: none;
}

#menuContOps {
    flex: 1;
}

#pieMenu {
    display: flex;
    align-items: stretch;
    padding: 10px;
    gap: 8px;
    justify-content: flex-end;
}

/*-----------Termina menu desplegable--------- */


#footerIndex {
    display: none;
}

/*-----------Termina menu desplegable--------- */


/*----------Product-info.html----------*/

#productInfo {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 25px 3vw;
}

#contenedorTop {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-self: center;
}


#mostrarProducto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    padding: 10px;
    margin: 0 1.5vw;
    border: solid 2px var(--bordeEstandar-color);
    background-color: var(--fondo-cards);
    border-radius: 5px;
    transition: 
        border var(--animacion-darkMode) ease,
        background-color var(--animacion-darkMode) ease;
}

#imgContPrincipal {
    display: flex;
    flex: 9;
    align-items: center;
}

#imgContPrincipal img {
    width: 100%;
}
    
.imgEnGal {     
    aspect-ratio: 1 / 1;    
    object-fit: cover; 
    border-radius: 8px;
    border: solid 3px #ddd;
    width: 18%;
    /* border: solid 3px #3483fa;  Estilo de imagen seleccionado*/
}

#galImg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    padding: 10px 0 0;
    min-height: fit-content;
    overflow-x: auto;
    gap: 5px;
}

/* Parte derecha */
#infoProducto {
    display: flex;
    flex-direction: column;
    color: var(--texto-colorPrincipal);
    transition: color var(--animacion-darkMode) ease;
}

#acercaDeProducto {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    align-self: center;
    box-sizing: border-box;
    color: var(--texto-colorPrincipal);
    transition: color var(--animacion-darkMode) ease;
}

#nombreProd {
    font-size: clamp(1.4rem, -0.223rem + 13.115vw, 2.4rem);
    margin: 0;
    color: var(--texto-colorEnfasis);
    transition: color var(--animacion-darkMode) ease;
}

#infoVenCat {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px
}

#infoVenCat p {
    margin: 0;
    font-size: clamp(0.43rem, -0.082rem + 4.308vw, 0.78rem);
    white-space: nowrap;
}

#precioProd {
    color: var(--naranja-intenso);
    font-weight: bold;
    font-size: clamp(1.4rem, 0.589rem + 6.557vw, 1.9rem);
    margin-bottom: 0px;
    transition: color var(--animacion-darkMode) ease;
}

#descripcionProd {
    font-size: clamp(0.75rem, 0.182rem + 4.59vw, 1.1rem);
    margin: 0;
}

.prodRelacionado {
    box-shadow: 0px 0px 2px 1px var(--sombra-cards);
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--fondoProdRel-cards);
    background-color: white;
    max-width: 100px;
    min-width: 100px;
    transition: 
        box-shadow var(--animacion-darkMode) ease,
        background-color var(--animacion-darkMode) ease;
}
    

.prodRelacionado img {
    display: block;
    object-fit: cover;
    width: 100%;
    border-radius: 2px;
}   

#listProdRelacionados {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    height: 65%;
    gap: 2%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-color: var(--limitadorCont-fondo);
    border: 1px solid var(--bordeEstandar-color);
    padding: 5px;
    overflow: auto;
    max-width: 85vw;
    transition: 
        border var(--animacion-darkMode) ease,
        background-color var(--animacion-darkMode) ease;
}
#listProdRelacionados p {
    padding: 5px;
    margin: 0;
    font-size: 0.9rem;
    border-top: 1px solid var(--bordeEstandar-color);
    transition: border-top var(--animacion-darkMode) ease;
}

#imgPrincipal {
    border-radius: 5px;
}

#agregarCarritoInfo {
    align-self: center;
    width: 100%;
    margin: 10px 0;
    font-size: clamp(0.8rem, -0.032rem + 5.161vw, 1rem);
    margin-top: 7px
}

#relProductos h2 {
    margin-top: 15px;
    font-size: clamp(0.8rem, 0.232rem + 4.59vw, 1.15rem);
    color: var(--texto-colorEnfasis);
    transition: color var(--animacion-darkMode) ease;
}

#botoncomprarinfo{
    align-self: center;
    width: 100%;
    margin: 10px 0;
    font-size: clamp(0.8rem, -0.032rem + 5.161vw, 1rem);
    margin-bottom:0px
}

/*------------menu filtros------------*/
#filtrosContenedor {
    display: none;
}

.filtrosContenedor-mostrar {
    font-family: 'Inter', sans-serif;
    position: fixed;
    background-color: var(--fondoMobile-menuFiltro);
    bottom: 0;
    left: 0;
    height: 60vh;
    width: 100vw;
    padding: 20px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 7px var(--contornoOpciones-menuFiltro);
    padding-left: 0px;
    transition: bottom 0.2s ease;
    z-index: 10;
    font-size: 0.7rem;
    transition: 
        box-shadow var(--animacion-darkMode) ease,
        background-color var(--animacion-darkMode) ease;
}

.filtrosContenedor-ocultar {
    position: fixed;
    background-color: white;
    bottom: -515px;
    left: 0;
    height: 60vh;
    width: 100vw;
    padding: 20px 0px;;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 7px var(--contornoOpciones-menuFiltro);
    min-width: 273px;
    padding-left: 0px;
    transition: bottom 0.2s ease;
    transition: box-shadow var(--animacion-darkMode) ease;
}


#filtrosMobile {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#ordenarPorMobile {
    display: flex;
    flex: 1;
    flex-direction: row;   
}

#filtrarPrecioMobile {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex: 4;
    align-content: flex-start;
    justify-content: flex-start;
    color: var(--texto-colorPrincipal);
    transition: color var(--animacion-darkMode) ease;
}

#contFiltrosBotones {
    display: flex;
    border-bottom: 1px solid var(--contorno-MenuFiltro);
    align-items: center;
    overflow: hidden;
    min-height: 35px;
    height: 35px;
    font-family: 'Inter', sans-serif;
    background-color: var(--fondoMobile-menuFiltro);
    transition: 
        background-color var(--animacion-darkMode) ease,
        border-bottom var(--animacion-darkMode) ease;
}

#tipoFiltroTablet {
    margin: 0;
    margin-left: 10px;
    font-weight: 350;
    font-size: 12px;
    color: var(--texto-colorAtenuado);
    transition: color var(--animacion-darkMode) ease;
}

#imgTipoFiltro {
    margin-left: 3px;
    width: 16px;
}

.contenedorPFiltro-mostrar {
    display: flex;
    align-items: center;
    background-color: var(--fondoOpcion-menuMobile);
    color: var(--texto-resaltanteAzul);
    font-size: clamp(0.6rem, 0.349rem + 2.254vw, 0.8rem);
    cursor: pointer;
    transition: 
        background-color var(--animacion-darkMode) ease,
        color var(--animacion-darkMode) ease;
}

.contenedorPFiltro-ocultar {
    display: flex;
    align-items: center;
    font-size: clamp(0.6rem, 0.349rem + 2.254vw, 0.8rem);
    cursor: pointer;
    color: var(--texto-colorPrincipal);
    background-color: var(--fondoMobile-menuFiltro);
    transition: 
        background-color var(--animacion-darkMode) ease,
        color var(--animacion-darkMode) ease;
}

.contenedorPFiltro-ocultar:hover {
    background-color: var(--fondoOpcion-menuMobile);
}

#contBotonPrecioMobile {
    display: flex;
    cursor: pointer;
}

#contBotonPrecioMobile:hover {
    background-color: var(--fondoOpcion-menuMobile);
}

#contOrdenarPorMobile img{
    width: 18px;
}

#lineaVertical{
    background-color: var(--bordeEstandar-color);
    width: 2px;
    min-width: 2px;
    z-index: 10;
    box-shadow: 1px 0px 3px 0px var(--bordeEstandar-color);
    transition: 
        background-color var(--animacion-darkMode) ease,
        box-shadow var(--animacion-darkMode) ease;
}



.PFiltro {
    margin: 12px 15px;
    margin-right: 10px;
}

#lista-OrdenarPorMobile {
    list-style: none;
    padding: 0;
    margin: 0px 0px;
}

#lista-OrdenarPorMobile li {
    font-size: clamp(0.6rem, 0.349rem + 2.254vw, 0.8rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

#AZMobile {
    padding-left: 25px;
    padding-right: 20px;
}

#AZMobile:hover{
    background-color: var(--fondoOpcion-menuMobile);
}

#ZAMobile {
    padding-left: 25px;
    padding-right: 20px;
}

#ZAMobile:hover{
    background-color: var(--fondoOpcion-menuMobile);
}

#RelevanciaMobile {
    padding-left: 25px;
    padding-right: 20px;
}

#RelevanciaMobile:hover{
    background-color: var(--fondoOpcion-menuMobile);
}

#PrecioAMobile {
    padding-left: 25px;
    padding-right: 20px;
}

#PrecioAMobile:hover{
    background-color: var(--fondoOpcion-menuMobile);
}

#PrecioDMobile {
    padding-left: 25px;
    padding-right: 20px;
}

#PrecioDMobile:hover{
    background-color: var(--fondoOpcion-menuMobile);
}

.imgOrdenarPor {
    margin: 5px 6.5px;
    width: 25px;
    filter: var(--imgsMobile-menuFiltro);
    transition: filter var(--animacion-darkMode) ease;
}

.imgAZ {
    margin: 5px 6.5px;
    width: clamp(0.938rem, 0.076rem + 7.746vw, 1.625rem);
    filter: var(--imgsMobile-menuFiltro);
    transition: filter var(--animacion-darkMode) ease;
}


#ordenarPorP {
    margin: 10px 8px;
    font-size: clamp(0.7rem, 0.324rem + 3.38vw, 1rem);
    font-weight: 500;
    color: var(--texto-colorEnfasis);
    transition: color var(--animacion-darkMode) ease;
}

.ordenarPorContenedor-mostrar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ordenarPorContenedor-ocultar {
    display: none;
}


.contenedorPrecio-ocultar {
    display: none;
}

.contenedorPrecio-mostrar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contRangosMobile {
    display: flex;  
    margin: 0px 12px;;
    height: 25px;
    align-items: center;
    gap: 5px;
}

#precioP {
    margin: 10px 10px 5px;
    font-size: clamp(0.45rem, -0.239rem + 6.197vw, 1rem);
    font-weight: 475;
    color: var(--texto-colorEnfasis);
    transition: color var(--animacion-darkMode) ease;
}

#contRangosMobile input {
    width: 45%;
    border: 2px solid var(--camposInput-gris);
    border-radius: 3px;
    font-size: clamp(0.5rem, 0.124rem + 3.38vw, 0.8rem);
    text-align: center;
    background-color: var(--camposInput-fondo);
}

#BtnFiltrarMobile {
    font-size: 0.8rem;
    padding: 5px;
    border-radius: 4px;
    margin: 13px 30%;
    width: 40%;
}


#selectMonedaMobile {
    display: flex;
    gap: 10px;
    margin: 2px 10% 12px;
    align-items: baseline;
}

#selectMonedaMobile p {
    font-size: 0.8rem;
    margin: 0;
}

#selectMonedaMobile input {
    display: none;
}

.label-selec {
    font-weight: bold;
    font-size: 0.8rem;
}

.label-noSelec {
    font-weight: 400;
    font-size: 0.8rem;
}

/* Cartel Sin resultado */
#contMsjErr {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: var(--texto-colorSuavizado);
    font-weight: 400;
    align-items: center;
    font-size: 1.5rem;
    height: 60vh;
    margin: 3vw 13vw;
    z-index: -5;
    min-width: 221px;
}

#contMsjErr img {
    width: 65%;
}

/*------------ Hacer un comentario ---------------*/
.popUpCalificar-ocultar{
    display: none;
}

.popUpCalificar-mostrar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--sombra-popUps);
    width: 100vw;
    height: 100%;
}

.calificar-mostrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--fondo-cards);
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 6px;
}

.calificar-ocultar {
    display: none;
}

.calificar-mostrar p{
    justify-self: center;
    text-align: center;
    font-size: clamp(0.9rem, -0.066rem + 8.358vw, 1.6rem);
    font-weight: 600;
    margin-bottom: 0;
    color: var(--texto-colorEnfasis);
    transition: color var(--animacion-darkMode) ease;
}

.calificar-mostrar form{
    display: flex;
    width: 100%;
    height: 55px;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0;
    gap: 10px;
}

.calificar-mostrar label{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 550;
    color: var(--texto-colorPrincipal);
    transition: color var(--animacion-darkMode) ease;
}

.calificar-mostrar form label{
    width: 55px;
}

.calificar-mostrar form label input{
    appearance: none;
}


.calificar-mostrar button{
    justify-self: center;
    margin: 20px 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: clamp(1rem, 0.292rem + 4.923vw, 1.2rem);
}

#comentUser {
    width: 94%;
    padding: 5px;
    border: solid 1.8px var(--naranja-intenso);
    border-radius: 3px;
    height: 128px;
    max-height: 190px;
    min-height: 33px;
    font-weight: 350;
    font-family: 'Inter', sans-serif;
    background-color: var(--camposInput-fondo);
    transition: 
        border var(--animacion-darkMode) ease,
        background-color var(--animacion-darkMode) ease;
}

#aviso.aviso-mostrar {
    color: var(--campos-error);
    display: block;
    font-size: 1rem;
    margin-top: 10px;
}

#aviso.aviso-ocultar {
    display: none;
}

.noCalificar-mostrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--fondo-cards);
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 6px;
    transition: background-color var(--animacion-darkMode) ease;
}

.noCalificar-ocultar {
    display: none;
}

.noCalificar-mostrar p {
    justify-self: center;
    text-align: center;
    font-size: clamp(0.8rem, 0.162rem + 5.674vw, 1.3rem);
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--texto-colorPrincipal);
    transition: color var(--animacion-darkMode) ease;
}

.noCalificar-mostrar img {
    width: 85%;
}


.noCalificar-mostrar .button {
    width: 100%;
    font-size: clamp(0.8rem, 0.289rem + 4.539vw, 1.2rem);
    padding: 3px;
    border-radius: 3px;
}

/*------------ Seccion comentarios ---------------*/

#opiniones-titulo-sem{
    display: none;
}

#opiniones-titulo{
    margin-bottom: 0px;
    font-size: clamp(0.8rem, 0.232rem + 4.59vw, 1.15rem);
    color: var(--texto-colorEnfasis);
    transition: color var(--animacion-darkMode) ease;
}

#contenedorComentarios {
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 10px;
}


.checked {
    color: var(--naranja-intenso);
}

#valoraciones {
    display: none;
    /* display: flex; */
    flex-direction: column;
    gap: 10px;
}

#valoraciones>p {
    font-weight: 700;
    font-size: 25px;
}

.barraCalificacion {
    width: 200px;
    border-style: solid;
    border-color: var(--naranja-intenso);
    border-radius: 5px;
    transition: border-color var(--animacion-darkMode) ease;
}

.contenedorCalificacion{ 
    display: flex;
    gap: 10px;
    justify-content: space-between;

}

#list-comment{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
}


.comentario-nombre {
    font-size: clamp(1em, 2.9234vw + -.049rem, 1.9rem);
    display: flex;
    flex-direction: column;
    color: var(--texto-colorEnfasis);
    transition: color var(--animacion-darkMode) ease;
}
.comentario-nombre>span {
    font-size: clamp(.9rem, 1.3921vw + .1863rem, 1.3rem);
    display: flex;
    align-items: center;
    padding-top: .2rem;
    color: var(--texto-colorPrincipal);
    transition: color var(--animacion-darkMode) ease;
}


.comentario {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 1px solid var(--bordeEstandar-color);
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: var(--fondo-cards);
    color: var(--texto-colorPrincipal);
    transition: 
        color var(--animacion-darkMode) ease,
        background-color var(--animacion-darkMode) ease;
}

.comentario-contenido {
    word-wrap: break-word;
    line-height: 1.4;
    font-size: clamp(0.85rem, 0.593rem + 1.279vw, 1.2rem);
    margin-bottom: 0px;
}

.comentario-fecha {
    font-size: clamp(.6rem, 1.3921vw + .1600rem, 1.3rem);
    padding-left: 10px;
    margin: 0px;
}

#contenedorBottom{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#btnComentar {
    display: flex;
    color: var(--naranja-intenso);
    cursor: pointer;
    max-width: 74px;
    font-size: clamp(0.65rem, 0.325rem + 2.623vw, 0.85rem);
    transition: color var(--animacion-darkMode) ease;
}

#btnComentar:hover {
    color: var(--naranja-oscuroHoversBtn);
}

/*------------ Categories ---------------*/
#contCatList{
    margin: 3vw 5vw;
}

#mainProductsCat{
    display: none;
}

.contenedorCat{
    width:100%;
}

.catFila {
    display: flex;
    flex-direction: row;
}

.conCatInfo {
    flex: 2;
    padding: 3px 10px 3px 5px;
}

.carDescripcion {
    margin: 10px 0;
}

.imgCategories {
    border-radius: 3px;
    min-width: 70px;
    display: flex;
    flex: 1;
    width: 14vw;
    padding: 5px;
    align-self: center;
}

.catCardPrincipal {
    box-shadow: 0px 0px 2px 2px var(--sombra-cards);
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    color: var(--texto-colorPrincipal);
    transition: transform 1s ease;
    background-color: var(--fondo-cards);
    transition: 
        color var(--animacion-darkMode) ease,
        background-color var(--animacion-darkMode) ease,
        box-shadow var(--animacion-darkMode) ease;
}

.catCardPrincipal:hover {
    box-shadow: 0px 0px 2px 2px var(--sombraHover-cards);
    transform: scale(1.01);
    transition: transform 0.5s ease;
}

.catCantVendidos {
    font-size: clamp(0.3rem, 0.1rem + 2vw, 0.5rem);
    font-weight: 400;
    color: var(--texto-colorAtenuado);
    padding-left: 0.5px;
    transition: color var(--animacion-darkMode) ease;
}

.catTitulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.catNombre {
    font-size: clamp(0.46rem, -0.08rem + 5.4vw, 1rem);
    margin: 0;
}

.catDescripcion {
    font-size: clamp(0.35rem, 0rem + 3.5vw, 0.7rem);
    margin-top: 2px;
}

.conCatPrincipal {
    width: 100vw;
}

#contBtnCategories {
    margin: 0 12px;
    display: flex;
    gap: 5px;
}

#btnLimpiarMobile {
    font-size: clamp(0.45rem, 0.262rem + 1.69vw, 0.6rem);
    padding: 3px;
    border-radius: 3px;
}

#BtnFiltrarMobileCat {
    font-size: clamp(0.45rem, 0.262rem + 1.69vw, 0.6rem);
    padding: 3px;
    border-radius: 3px;
}

/*-----------btn cambio darkmode header------------- */

#modeBtnMobile {
    width: 32px;
    min-width: 32px;
    margin-right: 0;
    box-shadow: 0px 0px 2px 2px #f78a53;
    transition: 
        background-color 0.2s ease,
        box-shadow 0.2s ease;
}

    body.init #modeBtnMobile.modeBtn {
        box-shadow: 0px 0px 2px 2px #f78a53;
    }

    body.darkmode #modeBtnMobile.modeBtn {
        background-color: #ced9df;
        box-shadow: 0px 0px 2px 2px #151937;
    }

    body.darkmodeinit #modeBtnMobile.modeBtn {
        transition: none;
        background-color: #ced9df;
        box-shadow: 0px 0px 2px 2px #f78a53;
    }

.modeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 34px;
    min-width: 34px;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
    margin-right: 11px;
    overflow: hidden;
    transition: background-color 0.2s ease;
}
    body.init .modeBtn {
        background-color: white;
    }

    body.darkmode .modeBtn {
        background-color: #ebebeb;
    }

    body.darkmodeinit .modeBtn {
        transition: none;
        background-color: #ebebeb;
    }

.contDark {
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    width: 18px;
    aspect-ratio: 1 / 1;
    background-color: #010738;
    transform: scale(0.1);
    animation: contDarkOff 0.3s linear both;
}

    body.init .contDark {
        z-index: -1;
        animation: none;
    }

    body.darkmodeinit .contDark {
        animation: none;
        transform: translate(0px, 2px) scaleY(0.1) scaleX(0.8);
    }

    body.darkmode .contDark {
        animation-name: contDark;
    }

.imgDarkmode {
    z-index: 2;
    position: absolute;
    width: 18px;
    aspect-ratio: 1 / 1;
    transform: scale(0.1) rotate(-180deg);
    animation: lunaOff 0.3s linear both;
}

    body.init .imgDarkmode {
        z-index: -1;
        animation: none;
    }

    body.darkmode .imgDarkmode {
        animation-name: luna;
    }

    body.darkmodeinit .imgDarkmode {
        animation: none;
        transform: scale(1) rotate(0); 
        z-index: 3;
    }

.lightMode {
    position: absolute;
    object-fit: cover;
    display: flex;
    width: 65%;
    z-index: 1;
    transform: scale(1);
    animation: solOFF 0.3s linear both
}

    body.init .lightMode { 
        transform: scale(1) rotate(0);
        animation: none;
    }

    body.darkmode .lightMode {
        animation: sol 0.3s linear both
    }

    body.darkmodeinit .lightMode {
        animation: none;
        transform: scale(0.1) rotate(90deg);
    }

@keyframes sol {
    0% { transform: scale(1) rotate(0); }
    65% { transform: scale(0.1) rotate(90deg); }
    100% { transform: scale(0.1) rotate(90deg)}
}

@keyframes solOFF {
    0% { transform: scale(0.1) rotate(90deg); }
    100% { transform: scale(1) rotate(0); }
}

@keyframes luna {
    65% { transform: scale(1) rotate(0); z-index: 3; }
    100% {transform: scale(1) rotate(0); z-index: 3; }
}

@keyframes lunaOff {
    0% { transform: scale(1); }
    20% { transform: scale(1);}
    98% { transform: scale(0.1) rotate(-180deg); }
    100% { transform: scale(0.1); z-index: -1; }
}

@keyframes contDark {
    0% { transform: translate(0, 0) scale(0.1); }
    65% { transform: translate(0px, 0px) scale(1); }
    75% {transform: translate(0px, 0px) scale(1); }
    100% { transform: translate(0px, 2px) scaleY(0.1) scaleX(0.8); }
}

@keyframes contDarkOff {
    0% { transform: translate(0px, 2px) scaleY(0.1) scaleX(0.8); }
    20% { transform: translate(0px, 0px) scale(1);}
    98% { transform: scale(0.1) rotate(-180deg); }
    100% { transform: scale(0.1); z-index: -1; }
}

/* Profile ------------------------- */

#miPerfil-main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: calc(100vh - 55px);
    background-color: var(--fondo-miPerfil);
    transition: background-color var(--animacion-darkMode) ease;
}

#perfil-contenedorPrincipal {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo-miPerfil);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    height: 100%;
    transition: background-color var(--animacion-darkMode) ease;
}

#perfil-contenedorTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: var(--perfil-gradiente-primario);  
    gap: 10px;
    flex: 1;
    padding: 25px 30px;
    transition: background-color var(--animacion-darkMode) ease;
}

#perfil-contenedorCircularImg {
    --tamano-fotoPerfil: clamp(2.813rem, -0.185rem + 25.926vw, 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: var(--tamano-fotoPerfil);
    height: var(--tamano-fotoPerfil);
    background-color: #ebebeb;
    font-size: 90px;
    position: relative;
    border: 4px solid var(--principal-color);
    box-shadow: 0px 0px 0px 1px var(--fondoContDatos-miPerfil);
    min-width: var(--tamano-fotoPerfil);
    min-height: var(--tamano-fotoPerfil);
    transition: 
        background-color var(--animacion-darkMode) ease
        color var(--animacion-darkMode) ease;
}

#perfil-ImgCamEdit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -2px;
    right: -7px;
    background-color: var(--principal-color);
    border-radius: 50%;
    padding: clamp(0.188rem, -0.114rem + 2.609vw, 0.375rem);
    transition: background-color var(--animacion-darkMode) ease;
}

#perfil-ImgCamEdit img{
    filter: brightness(1);
    width:  clamp(0.75rem, -0.192rem + 8.148vw, 1.438rem);
}

#perfil-fotoPerfil {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
    
#perfil-contenedorBottom {
    display: flex;    
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 75%;
    padding: 15px;
    background-color: var(--fondo-miPerfil);
    flex: 4;
    padding: 0 30px;
    transition: background-color var(--animacion-darkMode) ease;
}

#perfil-contenedorDatos {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: var(--fondoContDatos-miPerfil);
    color: var(--texto-colorPrincipal);
    position: relative;
    margin-bottom: 20px;
    transition: 
        color var(--animacion-darkMode) ease,
        background-color var(--animacion-darkMode) ease;
}

#perfil-letraFoto {
    color: var(--principal-color);
    transition: color var(--animacion-darkMode) ease;
    margin: 0;
    font-size: clamp(1.7rem, -0.767rem + 21.333vw, 3.5rem);
}

#perfil-popUp-confirmar {
    padding: 10px;
    margin: 0;
    font-size: 16px;
}

#perfil-popUp-seleccionar {
    padding: 10px;
    margin: 0;
    font-size: 16px;
}

/* popUp Mipefil */
.perfil-popUp-ocultar {
    display: none;
}

#perfil-popUp {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--sombra-popUps);
    transition: background-color var(--animacion-darkMode) ease;
    top: 0;
    left: 0;
    z-index: 4;
}

#perfil-popUp-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    padding: 20px 30px;
    border-radius: 12px;
    background-color: var(--fondo-cards);
    transition: background-color var(--animacion-darkMode) ease;
    font-family: 'Inter', sans-serif;
    max-width: 339px;
    box-sizing: border-box;
}

#perfil-popUp-circulo {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}

#perfil-popUp-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* imagen valida */
.perfil-popUp-valido {
    display: flex;
}

    .perfil-popUp-valido #perfil-popUp-pValido{
        display: block;
        margin: 21px 0;
        font-size: 1.3rem;
        text-align: center;
        font-weight: 600;
        color: var(--texto-colorPrincipal);
    }
    
    .perfil-popUp-valido #perfil-popUp-pInvalido{
        display: none;
    }
    .perfil-popUp-valido #perfil-popUp-botones {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .perfil-popUp-valido #perfil-popUp-seleccionar{
        display: none;
    }

.perfil-popUp-invalido {
    display: flex;
}
    .perfil-popUp-invalido #perfil-popUp-pValido{
        display: none;
    }
    .perfil-popUp-invalido #perfil-popUp-pInvalido{
        display: block;
        margin: 21px 0;
        font-size: 1.3rem;
        text-align: center;
        font-weight: 600;
        color: var(--camposInput-error);
        transition: color var(--animacion-darkMode) ease;
    }
    .perfil-popUp-invalido #perfil-popUp-botones {
        display: none
    }
    .perfil-popUp-invalido #perfil-popUp-seleccionar{
        display: block;
        
    }


/* Edicion de datos */
.perfil-dato {
    display: flex;
    flex-direction: row;
    /* align-items: space-between; */
    padding: 5px 0;
}

#perfil-botonEditar {
    display: none;
}   
   
#perfil-contenedorDatos:hover #perfil-botonEditar {
    display: block;
    position: absolute;
    width: 30px;
    right: 20px;
    top: 20px;   
}

#perfil-contenedorDatos h2 {
    font-size: clamp(0.9rem, 0.291rem + 5.263vw, 1.4rem);
    margin-top: 12px;
    margin-bottom: 0;
}

.perfil-dato input {
    background-color: var(--fondoContDatos-miPerfil);
    color: var(--texto-colorPrincipal);
    width: 100%;
    border-radius: 3px;
    font-size: clamp(0.55rem, 0.063rem + 4.211vw, 0.95rem); 
    transition: 
        color var(--animacion-darkMode) ease,
        background-color var(--animacion-darkMode) ease;
}

.perfil-dato input:focus {
    outline: none;
}

.perfil-inputConfirmado {
    border: none;
    padding: 0;
}

.perfil-inputEditando {
    width: 100%;
    border: solid 2px var(--camposInput-gris);
    padding: 3px;
    transition: border var(--animacion-darkMode) ease;
}

.perfil-inputError {
    width: 100%;
    border: solid 2px var(--camposInput-error);
    padding: 3px;
    transition: border var(--animacion-darkMode) ease;
}
#perfil-nombreUsuario{
    font-size: clamp(1.1rem, 0.689rem + 3.556vw, 1.4rem);
    font-weight: 550;
    color: var(--texto-colorPrincipal);
    margin: 0;
    padding-bottom: 5px;
    transition: color var(--animacion-darkMode) ease;
}

}