/*--------------Login tablet---------*/
@media (min-width: 321px) and (max-width: 768px) {
    

    body {
        margin: 0;
    }
    
    .container {
        display: flex;
        height: 100vh;
    }

    /*control de estilos parte izquierda*/
    #izq {
        display: none;
    }

    /*control de estilos parte derecha*/

    #der {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formulario {
        width: 80vw;
        text-align: center;
        min-width: 82px;
    }

    .formulario img {
        width: 56%;
        min-width: 81px;
    }

    .formulario h2 {
        margin: 0;
        color: #000000;
        font-size: clamp(10px, 3.5vw, 24px);
    }

    .formulario .camposInput {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 2px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .formulario .camposError {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 2px solid #de514e;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .claseError {
        display: none;
        margin: 0px;
        font-size: clamp(7pt, 7.7vw, 10pt) ;
        text-align: start;
        color: #de514e;
    }

    #ingresarLogin {
        margin-top: 10px;
        width: 100%;
    }

    #extra {
        margin-top: 15px;
        font-size: clamp(10px, 3.5vw, 15px)
    }
/*---------------Fin Login---------------*/



/*---------------Hedear---------------*/
/*----------Seccion Superior----------*/

   
    .barraBusqueda {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        background-color: #FF6D1F;
        border-bottom: 1px solid #9E6622;
        width: 100%;
        height: 55px;
        min-width: 416px;
        align-items: center;
    }

    #logoHeader {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        padding-left: 5px;
    }

    #boton-salida {
        display: none;
    }

    #botonesHead {
        display: none;
    }

    #carritoeMercado {
        display: none;
    }

    .botonesCelStyle {
        display: flex;
        align-items: center;
        padding-right: 5px;
    }

    #menuBarras {
        display: flex;
        width: 32px;
    }

    #ingresarIcono {
        width: 37px;
    }

    #emercado {
        width: 115px;
    }

    .barraBusqueda a {
        text-decoration: none;
    }


    .buscando {
        display: flex;
        flex: auto;
        width: 60vw;
        margin: 0 20px;
        height: 22px;;
        border-radius: 5px;
        border: 2px solid #F89E59;
        font-size: 10px;
        padding-left: 7px;
        min-width: 110px;
    }

    .noBuscando {
        display: none;
    }

    /* botones del head */

#botonesHead {
    display: none;
}


.ingresarHeadDesLog {
    display: flex;
    align-items: flex-end;  
    width: 120px;
    justify-content: space-between;

    background: #FF6D1F;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

.ingresarHeadLog {
    display: none;
}

.datosUserDesLog {
    display: none;
}

.datosUserLogeado {
    display: flex;
    border: 2px solid #F89E59;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    min-width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #F89E59;
    font-weight: bold;
    font-size: 15px;
    margin: 0 4px;
}

#carritoComprasCel img {
    width: 30px;
}

.buscadorIconoMostando {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF6D1F;
    border: 0px;
    padding: 6px 0;
}

.buscadorIconoBuscando {
    display: none;
}

#buscadorIcono img {
    width: 31px;
}

.carritoComprasDeslog {
    display: none;
}

.carritoCompraslog {
    display: flex;
    align-items: center; 
    border: 0px; 
    padding: 0;
    justify-content: center;
    background: #FF6D1F;
    color: white;
    width: 40px;
    height: 40px;
}

.logoutNolog {
    display: none;
}


.logout {
    display: flex;
    align-items: flex-end; 
    border: 2px solid #F89E59; 
    justify-content: space-between;

    padding: 10px;
    background: #FF6600;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}
/* Fin botones del head */

/*----------FIN Seccion Superior----------*/
/*----------Seccion Inferior----------*/
    .barraNavegacion {
        display: none;
    }
    /*----------FIN Header----------*/

/*----------Comienzo Products.html----------*/

    .mainProducts {
        display: flex; 
        box-sizing: border-box;
    }

    #filtros {
        display: none;
    }

    #filtros lu {
        list-style-type: none;
    }

    #contenedorItem {
        display: flex;
        width: 100vw; 
        flex-direction: column;
    }

    .card {
        display: flex;
        border-top: none;
        border-bottom: solid 1px rgb(186, 185, 185);
        width: 100%;
        font-family: Arial, sans-serif;
        height: 80px;
        min-width: 416px;
    }

    .card-img {
        padding: 10px;
        width: 120px;
        border-radius: 15px;
        align-self: center;
    }

    /* .card:hover {
        transform: scale(1.0092);
        padding-left: 5px;
    } */

    .card:hover h1 {
        color: #ff6d1f;
    }

    .card-cuerpo {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        flex: 4;
        min-width: 160px;
    }

    .card-cuerpo h1 {
        margin-top: 12px;
        font-size: clamp(9px, 4vw, 14px);
        margin-bottom: 0;
        white-space: nowrap;
    }   

    .card-cuerpo #descripcion{
      font-size: clamp(4px, 2.6vw, 12px);      
      margin-top: 3px;
      padding-right: 10px;
      overflow: auto;
    }

    .card-cuerpo #cantVendidos {
        margin-top: 0px;
        font-size: clamp(4px, 3vw, 12px);
        margin-bottom: 0;
    }

    .card-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;
        padding: 5px;
        margin-right: 7px;
        min-width: 70px;
    }

    .card-precio {
        align-self: center;
        margin: 0;
        text-align: center;
        font-size: 11px;
    }

    .card-boton {
        align-self: center;
        margin-top: 5px;
        margin: 0;
    }

    .button {
        font-size: 7px;
        padding: 5px;
        border-radius: 4px;
        min-width: 60px;
        margin-top: 7px;
    }

    #catalogoArticulos {
        display: flex;
        flex-direction: column;
    }

    #botonFiltros {
        display: flex;
        background-color: #ddd;
        width: 63px;
        align-items: center;
        border-radius: 4px;
        margin: 6px 10px;
        border: solid 1px black;
        font-size: 13px;
    }

    #botonFiltros img {
        height: 20px;
        width: auto;
    }
    /* .card-boton:hover {
        transform: scale(1.02);
    } */

/*----------Fin Products.html----------*/

/*-----------Menu desplegable--------- */

#menu.noDesplegado {
    position: fixed;
    background-color: #F8F8F8;
    width: 300px;
    height: 100%;
    z-index: 20; 
    left: -300px;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: left 0.3s ease;
}

#menu.Desplegado {
    position: fixed;
    background-color: #F8F8F8;
    width: 300px;
    height: 100%;
    z-index: 20; 
    left: 0px;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: left 0.3s ease;
}

#usuario-menu {
    border-bottom: solid;
    border-top-right-radius: 2px;
    border-color: #424242;
    border-width: 1px;
    height: 55px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6600;
    border-right: solid 3px #F89E59; 
}

#usuario-menu img{
    margin-right: 20px;
    border: 2px solid #f89e59;
    border-radius: 6px;
}

.boton-menu{
    border-bottom: solid;
    border-color: #424242;
    border-width: 1px;
    height: 75px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#categoriasMenu {
    display: flex;
    flex-direction: column;
}


.categoriasBotonContraido {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 21.5px;
    max-width: 300px;
}

.categoriasBotonDesplegado {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-right: 21.5px;
    max-width: 300px;
}

.link-menu {
    padding-left: 15px;
    color: #757575;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#boton-categorias-menu {
    align-self: center;
    padding-left: 15px;
}

.lista-menu-oculto{
    display: none;
    color: #757575;
    list-style-type: none;
    font-size: 17px;
    padding-left: 31px;
    align-self: flex-start;
    margin-top: 0;  
}

.lista-menu-desplegado{
    display: list-item;
    color: #757575;
    list-style-type: none;
    font-size: 17px;
    padding-left: 31px;
    align-self: flex-start;
    margin-top: 0;  
}

.flecha-menu{
    padding-right: 20px;
    width: 32px;
}
.flechaCategorias{
    width: 29px;
    transition: transform 0.1s linear;
}

.flechaCategoriaDesplegada {
    width: 29px;;
    transform: rotate(90deg);
    transition: transform 0.1s linear;
}

#flecha-abajo {
    display: none;
}

#email {
    padding-left: 10px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.noDesplegadoCategorias {
    display: flex;
    flex-direction: column;
    height: 75px;
    border-bottom: solid 1px #757575;
    justify-content: center;
}

.DesplegadoCategorias {
    display: flex;
    flex-direction: column;
    height: auto;
    border-bottom: solid 1px #757575;
    justify-content: center;
}
/*-----------Termina menu desplegable--------- */

}