@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*--------------Login tablet---------*/
@media (min-width: 321px) and (max-width: 768px) {
    

    body {
        margin: 0;
    }
    
    .container {
        display: flex;
        height: 100vh;
    }

    /*control de estilos parte izquierda*/
    #izq {
        display: none;
    }

    /*control de estilos parte derecha*/

    #der {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formulario {
        width: 80vw;
        text-align: center;
        min-width: 82px;
    }

    .formulario img {
        width: 56%;
        min-width: 81px;
    }

    .formulario h2 {
        font-family: Arial, sans-serif;
        margin: 0;
        color: #000000;
        font-size: clamp(10px, 3.5vw, 24px);
    }

    .formulario .camposInput {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 2px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .formulario .camposError {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 2px solid #de514e;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .claseError {
        display: none;
        margin: 0px;
        font-size: clamp(7pt, 7.7vw, 10pt) ;
        text-align: start;
        color: #de514e;
    }

    #ingresarLogin {
        margin-top: 10px;
        width: 100%;
        font-size: 17px;
    }

    #extra {
        margin-top: 15px;
        font-size: clamp(10px, 3.5vw, 15px)
    }
/*---------------Fin Login---------------*/



/*---------------Hedear---------------*/
/*----------Seccion Superior----------*/

   .headerclass{
        width: 100%;
   }

    .barraBusqueda {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        background-color: #FF6D1F;
        border-bottom: 1px solid #9E6622;
        width: 100%;
        height: 55px;
        /* min-width: 437px; */
        align-items: center;
    }

    #logoHeader {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        padding-left: 5px;
    }

    #boton-salida {
        display: none;
    }

    #botonesHead {
        display: none;
    }

    #carritoeMercado {
        display: none;
    }

    .botonesCelStyle {
        display: flex;
        align-items: center;
        padding-right: 5px;
    }

    #menuBarras {
        display: flex;
        width: 32px;
    }

    #ingresarIcono {
        width: 37px;
    }

    #emercado {
        width: 115px;
    }

    .barraBusqueda a {
        text-decoration: none;
    }


    .buscando {
        display: flex;
        flex: auto;
        width: 60vw;
        margin: 0 20px;
        height: 22px;;
        border-radius: 5px;
        border: 2px solid #F89E59;
        font-size: 10px;
        padding-left: 7px;
        min-width: 110px;
    }

    .noBuscando {
        display: none;
    }

    /* botones del head */

#botonesHead {
    display: none;
}


.ingresarHeadDesLog {
    display: flex;
    align-items: flex-end;  
    width: 120px;
    justify-content: space-between;

    background: #FF6D1F;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

.ingresarHeadLog {
    display: none;
}

.datosUserDesLog {
    display: none;
}

.datosUserLogeado {
    display: flex;
    border: 2px solid #F89E59;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    min-width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #F89E59;
    font-weight: bold;
    font-size: 15px;
    margin: 0 4px;
}

#carritoComprasCel img {
    width: 30px;
}

.buscadorIconoMostando {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF6D1F;
    border: 0px;
    padding: 6px 0;
}

.buscadorIconoBuscando {
    display: none;
}

#buscadorIcono img {
    width: 31px;
}

.carritoComprasDeslog {
    display: none;
}

.carritoCompraslog {
    display: flex;
    align-items: center; 
    border: 0px; 
    padding: 0;
    justify-content: center;
    background: #FF6D1F;
    color: white;
    width: 40px;
    height: 40px;
}

.logoutNolog {
    display: none;
}


.logout {
    display: flex;
    align-items: flex-end; 
    border: 2px solid #F89E59; 
    justify-content: space-between;

    padding: 10px;
    background: #FF6600;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}
/* Fin botones del head */

/*----------FIN Seccion Superior----------*/
/*----------Seccion Inferior----------*/
    .barraNavegacion {
        display: none;
    }
    /*----------FIN Header----------*/

/*----------Comienzo Products.html----------*/

    .mainProducts {
        display: flex; 
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
    }

    .mainProducts-FiltroMostrar {
        display: flex; 
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
    }


    #filtros lu {
        list-style-type: none;
    }

    #contenedorItem {
        display: flex; 
        flex-direction: column;
        margin: 15px 25px;
    }

    .card {
        display: flex;
        border-top: none;
        border-bottom: solid 1px rgb(186, 185, 185);
        width: 100%;
        font-family: Arial, sans-serif;
        height: 80px;
    }

    .card-img {
        padding: 10px;
        width: 120px;
        border-radius: 15px;
        align-self: center;
    }

    /* .card:hover {
        transform: scale(1.0092);
        padding-left: 5px;
    } */

    .card:hover h1 {
        color: #ff6d1f;
    }

    .card-cuerpo {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        flex: 4;
        min-width: 160px;
    }

    .card-cuerpo h1 {
        margin-top: 12px;
        font-size: clamp(9px, 4vw, 14px);
        margin-bottom: 0;
        white-space: nowrap;
    }   

    .card-cuerpo #descripcion{
      font-size: clamp(4px, 2.6vw, 12px);      
      margin-top: 3px;
      padding-right: 10px;
      overflow: auto;
    }

    .card-cuerpo #cantVendidos {
        margin-top: 0px;
        font-size: clamp(4px, 3vw, 12px);
        margin-bottom: 0;
    }

    .card-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;
        padding: 5px;
        margin-right: 7px;
        min-width: 70px;
    }

    .card-precio {
        align-self: center;
        margin: 0;
        text-align: center;
        font-size: 11px;
    }

    .card-boton {
        align-self: center;
        margin-top: 5px;
        margin: 0;
    }

    .button {
        font-size: 7px;
        padding: 5px;
        border-radius: 4px;
        min-width: 60px;
        margin-top: 7px;
    }

    #catalogoArticulos {
        display: flex;
        flex-direction: column;
    }

    #botonFiltros {
        display: flex;
        color: #3483fa;
        font-weight: 450;
        box-shadow: 1px 0px 4px 0px #ddd;
        align-items: center;
        padding: 5px 6px;
        border-right: solid 1px #ddd;
        font-size: 13px;
        border-radius: 7px;
        height: 100%;
    }

    #botonFiltros img{
        width: 17px;
        margin-right: 4px;
    }

    /* .card-boton:hover {
        transform: scale(1.02);
    } */

/*----------Fin Products.html----------*/

/*-----------Menu desplegable--------- */

#menu.noDesplegado {
    position: fixed;
    background-color: #F8F8F8;
    width: 300px;
    height: 100%;
    z-index: 20; 
    left: -300px;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: left 0.3s ease;
}

#menu.Desplegado {
    position: fixed;
    background-color: #F8F8F8;
    width: 300px;
    height: 100%;
    z-index: 20; 
    left: 0px;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: left 0.3s ease;
}

#usuario-menu {
    border-bottom: solid;
    border-top-right-radius: 2px;
    border-color: #424242;
    border-width: 1px;
    height: 55px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6600;
    border-right: solid 3px #F89E59; 
}

#usuario-menu img{
    margin-right: 20px;
    border: 2px solid #f89e59;
    border-radius: 6px;
}

.boton-menu{
    border-bottom: solid;
    border-color: #424242;
    border-width: 1px;
    height: 75px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#categoriasMenu {
    display: flex;
    flex-direction: column;
}


.categoriasBotonContraido {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 21.5px;
    max-width: 300px;
}

.categoriasBotonDesplegado {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-right: 21.5px;
    max-width: 300px;
}

.link-menu {
    padding-left: 15px;
    color: #757575;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#boton-categorias-menu {
    align-self: center;
    padding-left: 15px;
}

.lista-menu-oculto{
    display: none;
    color: #757575;
    list-style-type: none;
    font-size: 17px;
    padding-left: 31px;
    align-self: flex-start;
    margin-top: 0;  
}

.lista-menu-desplegado{
    display: list-item;
    color: #757575;
    list-style-type: none;
    font-size: 17px;
    padding-left: 31px;
    align-self: flex-start;
    margin-top: 0;  
}

.flecha-menu{
    padding-right: 20px;
    width: 32px;
}

.flechaCategorias{
    width: 29px;
    transition: rotate 0.1s linear;
}

.flechaCategoriaDesplegada {
    width: 29px;;
    rotate: 90deg;
    transition: rotate 0.1s linear;
}

#flecha-abajo {
    display: none;
}

#email {
    padding-left: 10px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.noDesplegadoCategorias {
    display: flex;
    flex-direction: column;
    height: 75px;
    border-bottom: solid 1px #757575;
    justify-content: center;
}

.DesplegadoCategorias {
    display: flex;
    flex-direction: column;
    height: auto;
    border-bottom: solid 1px #757575;
    justify-content: center;
}

li a {
    text-decoration: none;
    color: #757575;
}

.cerrarSesionMenu { 
    align-self: center;
    width: 120px;
    font-size: 15px;
    padding: 5px;
    border-radius: 4px;
    min-width: 60px;
    margin-top: 14px;
    background: #ffae70;
    border: none;
    color: white;
}

.cerrarSesionMenuOculto { 
    display: none;
}

/*-----------Termina menu desplegable--------- */

#footerIndex {
    display: none;
}

/*-----------Termina menu desplegable--------- */

/*----------Product-info.html----------*/

#productInfo {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 94%;
    margin: 25px 3vw;
}


#contenedorTop {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    align-self: center;
}


#mostrarProducto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    width: 97%;
    padding: 10px;
    margin: 0 1.5vw;
    border: solid 2px #ddd;
    border-radius: 5px;
}

#imgContPrincipal {
    display: flex;
    flex: 9;
    align-items: center;
}

#imgContPrincipal img {
    width: 100%;
}
    
.imgEnGal {     
    aspect-ratio: 1 / 1;    
    object-fit: cover; 
    border-radius: 8px;
    border: solid 3px #e0e0e0;
    width: 18%;
    /* border: solid 3px #3483fa;  Estilo de imagen seleccionado*/
}

#galImg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    padding: 10px 0 0;
}

/* Parte derecha */
#infoProducto {
    display: flex;
    flex-direction: column;
}

#acercaDeProducto {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}
#nombreProd {
    font-size: clamp(2.5rem, -0.829rem + 6.926vw, 3.5rem);
    margin: 0;
}

#infoVenCat {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px
}

#infoVenCat p {
    margin: 0;
    font-size: clamp(0.9rem, 0.453rem + 2.222vw, 1rem);
}

#precioProd {
    color: #FF6600;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 7px;
}

#descripcionProd {
    font-size: clamp(1.1rem, 0.101rem + 2.078vw, 1.4rem);
    margin: 0;
}

.prodRelacionado {
    box-shadow: 0px 0px 2px 1px #dddddd;
    border-radius: 5px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 130px;
}
    

.prodRelacionado img {
    display: block;
    object-fit: cover;
    width: 100%;
    border-radius: 2px;
}   

#listProdRelacionados {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    width: 100%;
    height: 65%;
    gap: 2%;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #fafafaa8;
    border: 1px solid #dddd;
    padding: 5px;
}

#listProdRelacionados p {
    padding: 5px;
    margin: 0;
    font-size: 1.1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#imgPrincipal {
    border-radius: 5px;
}

#agregarCarritoInfo {
    align-self: flex-start;
    width: 100%;
    margin: 17px 0;
    font-size: clamp(0.9rem, 0.413rem + 2.388vw, 1.1rem)
}

#relProductos h2 {
    margin-top: 15px;
    font-size: clamp(1.1rem, 0.769rem + 1.644vw, 1.55rem);
}

/*------------menu filtros------------*/
#filtrosContenedor {
    display: none;
}

.filtrosContenedor-mostrar {
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0;
    height: 60vh;
    width: 100vw;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 7px #dddd;
    min-width: 437px;
    padding-left: 0px;
    transition: bottom 0.2s ease;
}

.filtrosContenedor-ocultar {
    position: fixed;
    background-color: white;
    bottom: -515px;
    left: 0;
    height: 60vh;
    width: 100vw;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 7px #dddd;
    min-width: 437px;
    padding-left: 0px;
    transition: bottom 0.2s ease;
}


#filtrosMobile {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#ordenarPorMobile {
    display: flex;
    flex: 1;
    flex-direction: row;   
}

#filtrarPrecioMobile {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex: 4;
    align-content: flex-start;
    justify-content: flex-start;
}

#contFiltrosBotones {
    display: flex;
    border-bottom: 1px solid #ddd;
    align-items: center;
    overflow: hidden;
    min-height: 40px;
}

#tipoFiltroTablet {
    margin: 0;
    margin-left: 10px;
    font-weight: 350;
    font-size: 12px;
    color: #656565dd;
}

#imgTipoFiltro {
    margin-left: 3px;
    width: 16px;
}

.contenedorPFiltro-mostrar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    color: #3483fa;
}

.contenedorPFiltro-ocultar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
}


#contBotonPrecioMobile {
    display: flex;
}

#contOrdenarPorMobile img{
    width: 18px;
}

#contOrdenarPorMobile {
    min-width: 130px;
}

#lineaVertical{
    background-color: #ddd;
    width: 2px;
    min-width: 2px;
    box-shadow: 1px 0px 3px 0px #ddd;
}



.PFiltro {
    margin: 12px 20px;
    margin-right: 10px;
}

#lista-OrdenarPorMobile {
    list-style: none;
    padding: 0;
    margin: 0px 40px;
    margin-right: 20px;
}

#lista-OrdenarPorMobile li {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgOrdenarPor {
    margin: 5px 10px;
    width: 25px;
}

.imgAZ {
    margin: 5px 6.5px;
    width: 30px;
}


#ordenarPorP {
    margin: 10px 15px;
    font-size: 1.2rem;
    font-weight: 500;
}

.ordenarPorContenedor-mostrar {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.ordenarPorContenedor-ocultar {
    display: none;
}


.contenedorPrecio-ocultar {
    display: none;
}

.contenedorPrecio-mostrar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contRangosMobile {
    display: flex;
    width: 80%;
    margin: 0px 10%;
    height: 25px;
    align-items: center;
    gap: 5px;
}

#precioP {
    margin: 10px 15px;
    font-size: 1.2rem;
    font-weight: 475;
}

#contRangosMobile input {
    width: 45%;
    border: 2px solid #dddd;
    border-radius: 3px;
    font-size: 1.1rem;
    text-align: center;
}

#precioP {
    font-size: 1.2rem;
    font-weight: 500;
}

#BtnFiltrarMobile {
    font-size: 0.8rem;
    padding: 5px;
    border-radius: 4px;
    margin: 13px 18%;
}


#selectMonedaMobile {
    display: flex;
    gap: 10px;
    margin: 2px 10% 12px;
    align-items: baseline;
}

#selectMonedaMobile p {
    font-size: 1.1rem;
    margin: 0;
}

#selectMonedaMobile input {
    display: none;
}

.label-selec {
    font-weight: bold;
}

.label-noSelec {
    font-weight: 400;
}

/* Cartel Sin resultado */
#contMsjErr {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #b4b2b2;
    font-weight: 400;
    align-items: center;
    font-size: 1.5rem;
    height: 60vh;
    margin: 3vw 25vw;
    z-index: -5;
    min-width: 221px;
}

#contMsjErr img {
    width: 70%;
}

/*------------ Hacer un comentario ---------------*/
.popUpCalificar-ocultar{
    display: none;
}

.popUpCalificar-mostrar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.2);
    width: 100vw;
    height: 100%;
    min-width: 437px;
}

.calificar-mostrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    width: 90%;
    min-width: 405px;
    max-width: 600px;
    padding: 20px;
    border-radius: 6px;
}

.calificar-ocultar {
    display: none;
}

.calificar-mostrar p{
    justify-self: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
}

.calificar-mostrar form{
    display: flex;
    width: 100%;
    height: 55px;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

.calificar-mostrar label{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 550;
}

.calificar-mostrar form label{
    width: 55px;
}

.calificar-mostrar form label input{
    appearance: none;
}


.calificar-mostrar button{
    justify-self: center;
    margin: 20px 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 1.2rem
}

#comentUser {
    width: 100%;
    padding: 5px;
    border: solid 1.8px #f89e59;
    border-radius: 3px;
    height: 128px;
    max-height: 190px;
    min-height: 33px;
    font-weight: 350;
}

#aviso.aviso-mostrar {
    color: #de514e;
    display: block;
    font-size: 1rem;
    margin-top: 10px;
}

#aviso.aviso-ocultar {
    display: none;
}

.noCalificar-mostrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    width: 90%;
    min-width: 405px;
    max-width: 600px;
    padding: 20px;
    border-radius: 6px;
}

.noCalificar-ocultar {
    display: none;
}

.noCalificar-mostrar p {
    justify-self: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.noCalificar-mostrar img {
    width: 250px;
}


.noCalificar-mostrar .button {
    width: 100%;
    font-size: 1.3rem;
    padding: 7px;
}

#opiniones-titulo-sem {
    display: none;
}

/*------------ Seccion comentarios ---------------*/


#opiniones-titulo{
    margin-bottom: 0px;
    font-size: clamp(1.1rem, 0.769rem + 1.644vw, 1.55rem);
}

#contenedorComentarios {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    padding: 10px;
}


.checked {
    color: rgb(255 148 76);
}

#valoraciones {
    display: none;
    /* display: flex; */
    flex-direction: column;
    gap: 10px;
}

#valoraciones>p {
    font-weight: 700;
    font-size: 25px;
}

.barraCalificacion {
    width: 200px;
    border-style: solid;
    border-color: rgb(122, 121, 121);
    border-radius: 5px;
}

.contenedorCalificacion{ 
    display: flex;
    gap: 10px;
    justify-content: space-between;

}

#list-comment{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
}


.comentario-nombre {
    font-size: clamp(1em, 2.9234vw + -.049rem, 1.9rem);
    display: flex;
    flex-direction: column;
}
.comentario-nombre>span {
    font-size: clamp(.9rem, 1.3921vw + .1863rem, 1.3rem);
    display: flex;
    align-items: center;
    padding-top: .2rem;

}


.comentario {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comentario-contenido {
    word-wrap: break-word;
    line-height: 1.4;
    font-size: clamp(0.85rem, 0.593rem + 1.279vw, 1.2rem);
    margin-bottom: 0px;
}

.comentario-fecha {
    font-size: clamp(.6rem, 1.3921vw + .1600rem, 1.3rem);
    padding-left: 10px;
    margin: 0px;
}

#contenedorBottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#btnComentar {
    display: flex;
    color: #FF6600;
    cursor: pointer;
    max-width: 74px;
    font-size: clamp(0.75rem, 0.566rem + 0.913vw, 1rem);
}

#btnComentar:hover {
    color: #ae4702;
}

} 